$mobile-size: 375px;
$medium-size: 640px;
$desktop-size: 1440px;

$Font-size: 18px;

$active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$Red-error: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

:root{
  --red-error: #{$Red-error};
  --normal-gray: #{$Dark-grayish-violet};
}
/*
*/
%inputs {
  height: 40px;
  color: $Dark-grayish-violet;
  border-radius: 8px;
  border: 1px solid $Dark-grayish-violet;
  padding-left: 8px;
  margin-top: 12px;
  margin-bottom: 4px;
  letter-spacing: 2px;
  cursor: pointer;
}
%error-input {
  @extend %inputs;
  border: 1px solid $Red-error;
}
%primary-button {
  width: 100%;
  height: 40px;
  background-color: $Very-dark-violet;
  border-radius: 8px;
  color: $White;
  margin-top: 16px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: $Font-size;
  font-family: "Space-Grotesk", sans-serif;
}
main {
  background-color: $White;
}
.error {
  color: $Red-error;
  font-size: 12px;
  margin-bottom: 12px;
}
aside {
  position: relative;
  img {
    width: 100%;
  }
  .back-Ofthe-Card {
    width: 252px;
    height: 140px;
    background-color: $White;
    border-radius: 8px;
    position: absolute;
    top: 32px;
    left: 90px;

    .black-stripe {
      background-color: $Very-dark-violet;
      width: 252px;
      height: 36px;
      margin-top: 12px;
    }
    .gray-stripe {
      display: flex;
      justify-content: end;
      background-color: $Dark-grayish-violet;
      width: 180px;
      height: auto;
      margin: 16px auto 0px auto;
      p {
        padding-right: 16px;
        color: $White;
      }
    }
  }
}

.front-Ofthe-Card {
  width: 252px;
  height: 140px;
  position: absolute;
  top: 117px;
  left: 32px;
  img {
    width: 100%;
    height: 100%;
  }
  .circles-container {
    display: flex;
    align-items: center;
    height: 60px;
    width: 80px;
    top: 0px;
    left: 10px;
    position: absolute;
    justify-content: space-around;
    .white-circle {
      width: 40px;
      height: 40px;
      background-color: green;
      border-radius: 50%;
    }
    .empty-circle {
      width: 20px;
      height: 20px;
      background-color: blue;
      border-radius: 50%;
    }
  }
  .card-number {
    position: absolute;
    top: 62px;
    left: 20px;
    letter-spacing: 2px;
    color: $White;
  }
  .name {
    position: absolute;
    top: 100px;
    left: 20px;
    color: $White;
  }
  .expiration {
    position: absolute;
    top: 100px;
    left: 200px;
    color: $White;
  }
}
.card-information {
  width: 90%;
  margin: 52px auto 0px auto;
  form {
    display: flex;
    flex-direction: column;
    .inputs-main-container {
      display: flex;
      justify-content: space-between;
      .inputs-month-year {
        display: flex;
        flex-direction: column;
        input {
          width: 80px;
        }
        .twoInputs-container {
          display: flex;
          justify-content: space-between;
        }
      }
      .input-private-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
  label {
    color: $Very-dark-violet;
  }
  input {
    @extend %inputs;
  }
  input:focus {
    outline-color: $Dark-grayish-violet;
  }
}

.button-container {
  width: 100%;
  .primary-button {
    @extend %primary-button;
  }
}
.success-module {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.thanks-container{
  h2{
    margin: 12px;
  }
}

@media (min-width: 640px) {
  main {
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  main {
    margin: 0;
  }
  aside {
    padding-right: 180px;
    .back-Ofthe-Card {
      width: 400px;
      height: 220px;
      top: 462px;
      left: 40px;
      .black-stripe {
        width: 400px;
        height: 44px;
      }
      .gray-stripe {
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }
  .card-information {
    position: absolute;
    width: 500px;
    top: 260px;
    left: 700px;
    .inputs-container {
      input:nth-child(-n + 2) {
        width: 80px;
      }
      input:nth-child(3) {
        width: 200px;
      }
    }
  }
  .front-Ofthe-Card {
    width: 400px;
    height: 220px;
    position: absolute;
    top: 200px;
    left: 112px;

    .circles-container {
      height: 80px;
      width: 100px;
      .white-circle {
        width: 60px;
        height: 60px;
      }
      .empty-circle {
        width: 30px;
        height: 30px;
      }
    }
    .card-number {
      top: 120px;
      font-size: 30px;
    }
    .name {
      top: 180px;
    }
    .expiration {
      top: 180px;
      left: 300px;
    }
  }
}
